.navbar {
  background-color: #ff6347; /* Tomato color */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem; /* Increased gap for better spacing */
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navbar-links a:hover::after {
  width: 100%;
}
